@page
@model MusicDatabase6.Pages.Musicians.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Musician Database</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Musician[0].MusFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Musician[0].MusLName)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Musician)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MusFName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MusLName)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImageName))
                    {
                        <!-- The tilde (~) ensures the path is relative to wwwroot. -->
                        <img src="~/image/@item.ImageName" alt="@item.MusFName" style="max-height:100px; width:auto;" />
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.MusicianID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.MusicianID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.MusicianID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
